//noinspection ALL
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.ttf') format('truetype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.ttf') format('truetype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  font-family: 'AvenirNextLTPro', sans-serif;/* <-- fonts */
}

.hamburger{
  display:none;
}
.searchInput{
  float: right;
  width: 300px;
  margin-top: 10px;
  padding-right: 20px;
  border-radius: 25px;
  background: url("../searchIcon.png") no-repeat right center;
}
.whiteWindow{
  border-bottom: black 1px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}
.author{
  float: right;
  margin-right: 0;
}
@media only screen and (max-width: 1000px) {
  .searchInput{
    padding-top: 10px;
    border-radius: 25px;
    background: url("../searchIcon.png") no-repeat right center;
    width: 200px;
    float: right;
  }


  .video_container:disabled {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .category_container{
    display: none;
  }
  .hamburger{
    padding: 10px;
    display: block;
  }
  .searchInput{
    padding-top: 10px;
    border-radius: 25px;
    background: url("../searchIcon.png") no-repeat right center;
    width: auto;
  }
  .author{
    margin-right: 0;
  }
  .pagination{
   width: auto;
  }
}
.category_container{
  position: fixed;
  background: linear-gradient(#6F60A1,#4C3F75);
  height:100%;
  border-right: 1px solid black;
}
.video_container{
  float:right;
  height:100%;
}
.logo{
  width:20%;
  height: auto;
}
.whiteWindow{
  padding-top: 10px;
  background-color: #FFFFFF;
}
.paginationProperties{
  float: right;
}
ul.pagination {
  display: inline-block;
}
ul.pagination li {display: inline;}
ul.pagination li a {
  color: black;
  float: left; //Do not move! This makes the padding numbs be next to eachother
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.pagination li a.active {
  background-color: #7061A2;
  color: white;
  border: 1px solid #337AB7;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.gray{
  color: #A3A3A3;
}
.gray_window{
  position: relative;
  height: 100%;
  background: linear-gradient(#FAFAFA,#EEEEEE);
  background-repeat: no-repeat;
}
img {
  width:auto;
  height: auto;
  float: left;
  margin-right: 10px;
}
