#upperBarContainer{
  display:none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  #categoryContainer{
    display: none;
  }
  #upperBarContainer{
    padding: 10px;
    display: block;
  }
  #searchInput{
    padding-top: 10px;
    border-radius: 25px;
  }
  .pagination{
   width: auto;
  }
}
#categoryContainer{
  background: linear-gradient(#6F60A1,#4C3F75);
  height:100%;
  border-right: 1px solid black;
}
#videoContainer{
  background: white;
  height:100%;
}
#logo{
  height:30%;
  width:30%;
}
#whiteWindow{
  background-color: #FFFFFF;
}
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.pagination li a.active {
  background-color: #7061A2;
  color: white;
  border: 1px solid #337AB7;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.gray{
  color: #A3A3A3;
}
.grayWindow{
  background: linear-gradient(#FAFAFA,#EEEEEE);
}
