//Setting up the responsive grid layout design
// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

.gray{
  color: #A3A3A3;
}
